.container {
  padding: 32px 16px;
}

.card {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 16px 0 16px;
}

.titulo-pesquisar-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.titulo-pesquisar-user h2,
.titulo-pesquisar-user p {
  margin: 0;
}

.titulo-pesquisar-user p {
  margin-top: 4px;
}

.titulo-pesquisar-user h2 {
  font-weight: 500; 
  color: #333; 
  font-size: 25px;
}

.campo-busca {
  width: 100%;
  margin: 20px 0 8px 0;
}

.tabela-container {
  overflow-x: auto;
}

.full-width-table {
  width: 100%;
}

.acoes {
  display: flex;
  gap: 8px;
}

.sem-dados {
  text-align: center;
  padding: 16px;
}


