.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.shipping-card {
  width: 100%;
  margin: 20px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.mat-card-title {
  display: flex;
  align-items: center;
  height: 100px;
}
.btn-full {
  width: 100%;
  border: none;
 
}

.full-width {

  width: 100%;
}
form {
  width: 25%;
}