<div fxlayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="435px">

        <form class="mt-60" #clientesFrm="ngForm" (ngSubmit)="salvar()">
            <mat-card class="custom-card-container">
                <mat-card-header class="custom-card-header" style="display: flex; justify-content: center;">
                    <mat-card-title class="custom-card-title">Fazer Cadastro</mat-card-title>
            <mat-card-subtitle style="display: flex; justify-content: center;">Seja Bem-vindo</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mt-20">
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>Nome: </mat-label>
                                <input type="text" [(ngModel)]="usuario.nome" name="nome"
                                    placeholder="Ex: João da Silva" required minlength="3" #nomeInput="ngModel"
                                    matInput />
                                @if (nomeInput.hasError('required')) {
                                <mat-error>O nome é <strong>obrigatório</strong>.</mat-error>
                                }

                                @if (nomeInput.hasError('minlength')) {
                                <mat-error>Nome muito curto.</mat-error>
                                }

                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>Email: </mat-label>
                                <input type="email" [(ngModel)]="usuario.email" name="email"
                                required email #emailInput="ngModel"
                                    placeholder="Digite seu email" matInput />
                                    @if (emailInput.hasError('required')) {
                                    <mat-error>O email é <strong>obrigatório</strong>.</mat-error>
                                    }
                                    @if (emailInput.hasError('email')) {
                                    <mat-error>Formato de email inválido.</mat-error>
                                    }
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>CPF: *</mat-label>
                                <input type="text" [(ngModel)]="usuario.cpf" name="cpf" placeholder="Digite seu CPF"
                                    matInput
                                required 
                                mask="000.000.000-00"
                                #cpfInput="ngModel"
                                (blur)="validarCpf(cpfInput)" />
                                @if (cpfInput.hasError('required')) {
                                <mat-error>O CPF é <strong>obrigatório</strong>.</mat-error>
                                }

                                @if (cpfInput.hasError('cpfInvalido')) {
                                <mat-error>CPF inválido.</mat-error>
                                }
                                 
                            </mat-form-field>

                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>Senha: </mat-label>
                                <input type="password" [(ngModel)]="usuario.senha" name="senha"
                                #senhaInput="ngModel" required minlength="6"
                                    placeholder="Digite sua senha" matInput />
                                @if (senhaInput.hasError('required')) {
                                <mat-error>A senha é <strong>obrigatória</strong>.</mat-error>
                                }
                                @if (senhaInput.hasError('minlength')) {
                                <mat-error>A senha deve ter no mínimo 6 caracteres.</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>Repetir Senha: *</mat-label>
                                <input type="password" [(ngModel)]="usuario.senhaConfirmacao" name="senhaConfirmacao"
                                    placeholder="Confirme sua senha" matInput
                                     required #confirmarInput="ngModel"
                                     (input)="validarSenhaConfirmacao(confirmarInput)" />
                                @if (confirmarInput.hasError('required')) {
                                <mat-error>Confirmar a senha é <strong>obrigatório</strong>.</mat-error>
                                }
                                @if(confirmarInput.hasError('senhaMismatch')) {
                                <mat-error>As senhas não conferem.</mat-error>
                                }
                                
                            </mat-form-field>
                        </div>
                    </div>

                </mat-card-content>

                <mat-card-actions style="display: flex; justify-content: center;">
                    <button mat-flat-button color="primary" fxFlex="400px" type="submit" [disabled]="clientesFrm.invalid">
                        Cadastrar
                    </button>
                </mat-card-actions>

                <mat-card-actions style="display: flex; justify-content: center;">
                    <mat-card-subtitle>Já possui uma conta? <a routerLink="/login">Login</a></mat-card-subtitle>
                </mat-card-actions>

            </mat-card>
        </form>
    </div>
</div>